---
sotw:
  - img: sotw-787-matthew.png
    author: Matthew
    url: https://www.purezc.net/forums/index.php?showtopic=78273
  - img: sotw-785-architect-abdiel.png
    author: Architect Abdiel
    url: https://www.purezc.net/forums/index.php?showtopic=78248
  - img: sotw-785-joel.png
    author: Joel
    url: https://www.purezc.net/forums/index.php?showtopic=78248
  - img: sotw-786-architect-abdiel.png
    author: Architect Abdiel
    url: https://www.purezc.net/forums/index.php?showtopic=78260
  - img: sotw-789-joel.png
    author: Joel
    url: https://www.purezc.net/forums/index.php?showtopic=78310
  - img: sotw-789-moosh.gif
    author: Moosh
    url: https://www.purezc.net/forums/index.php?showtopic=78310
  - img: sotw-789-russ.png
    author: Russ
    url: https://www.purezc.net/forums/index.php?showtopic=78310
  - img: sotw-791-joel.png
    author: Joel
    url: https://www.purezc.net/forums/index.php?showtopic=78332
  - img: sotw-791-shane.png
    author: Shane
    url: https://www.purezc.net/forums/index.php?showtopic=78332
  - img: sotw-792-anthus.gif
    author: Anthus
    url: https://www.purezc.net/forums/index.php?showtopic=78338
  - img: sotw-792-architect-abdiel.png
    author: Architect Abdiel
    url: https://www.purezc.net/forums/index.php?showtopic=78338
  - img: sotw-793-architect-abdiel.png
    author: Architect Abdiel
    url: https://www.purezc.net/forums/index.php?showtopic=78373
  - img: sotw-793-joel.png
    author: Joel
    url: https://www.purezc.net/forums/index.php?showtopic=78373
  - img: sotw-794-anthus.gif
    author: Anthus
    url: https://www.purezc.net/forums/index.php?showtopic=78385
  - img: sotw-795-anthus.gif
    author: Anthus
    url: https://www.purezc.net/forums/index.php?showtopic=78392
  - img: sotw-796-anthus.gif
    author: Anthus
    url: https://www.purezc.net/forums/index.php?showtopic=78404
  - img: sotw-796-architect-abdiel.png
    author: Architect Abdiel
    url: https://www.purezc.net/forums/index.php?showtopic=78404
---

{% extends "layouts/base.njk" %}

{% block header %}
	<style>
		.hero {
			position: relative;
			z-index: 1;
			background-color: black;
			overflow: hidden;
			display: grid;
		}
		.hero .background-image-wrapper {
			display: grid;
			place-items: center;
			width: 100vw;
		}
		.hero .background-image {
			max-height: 90vh;
			max-width: calc(max(90vw, 500px));
			/* width: 100%; */
			/* margin-top: 7vh; */
			/* aspect-ratio: 3384/2240; */
			/* position: absolute; */
			/* opacity: 0.6; */
			background-position: center;
			background-repeat: no-repeat;
			background-blend-mode: darken;
			background-size: cover;
			background-color: var(--transparent-cover);
			will-change: transform;
		}
		.credits {
			padding: 10px;
			text-align: center;
		}

		.gallery {
			position: relative;
			z-index: 1;
			background-color: black;
			overflow: hidden;
			/* width: 100%; */
			width: 100vw;
		}
		.gallery-images {
			display: flex;
			justify-content: space-around;
			cursor: pointer;
		}
		.gallery-images .current-image {
			height: 70vh;
			/* max-height: 80vh;
			max-width: 100vw;
			width: 100%; */

			/* max-width: calc(max(40vw, 500px)); */
			width: 100vw;
			background-repeat: no-repeat;
			background-size: contain;
			/* position: absolute; */
			transition: all 0.5s;
			background-position: center;
			border: none;

			image-rendering: pixelated;
		}
		.gallery-current {
			/* display: grid; */
			/* place-items: center; */
		}
		.gallery-current img {
			/* max-width: calc(max(40vw, 500px)); */
			/* width: 100%; */
		}

		.gallery-frame {
			/* width: 100px; */
		}
		.gallery-frame--current {
			/* width: 100px; */
		}
		.gallery-frame img {
			height: 100px;
		}
		.gallery-frame--current img {
			height: 100%;
		}

		.gallery-prev, .gallery-next {
			opacity: 0.4;
			/* width: 50%; */
		}
		.gallery-thumbnails {
			display: flex;
			gap: 10px;
			margin-top: 10px;
		}
		.gallery-thumbnails img {
			/* width: auto; */
			height: 100px;
		}

		main {
			padding: unset;
		}

		.video-wrapper {
			display: grid;
			place-items: center;
			background-color: black;
		}
		.video-wrapper video {
			max-width: calc(max(50vw, 500px));
			aspect-ratio: 3384/2240;
			width: 100%;
		}

		.hero-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			display: grid;
			place-content: center;
		}
		.download-option {
			padding: 10px;
			font-size: 2em;
		}

		.features {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			text-align: center;
		}
		.feature {
			display: grid;
			place-items: center;
			padding: 10px;
			margin: 10px;
		}
		.feature .label {
			font-size: 2em;
		}
		.feature .image {
			width: 75px;
			/* height: 50%; */
		}

		.feature--music img {
			/* width: 75px; */
			/* height: 50%; */
			margin-top: 25px;
			margin-bottom: 15px;
		}
		.feature--music img:nth-child(2) {
			position: relative;
			top: -15px;
		}
		.feature--music img:nth-child(3) {
			position: relative;
			top: 10px;
		}
	</style>

	<div class="gallery">
		{% set prev_pic = sotw[0] %}
		{% set first_pic = sotw[1] %}
		{% set next_pic = sotw[2] %}
		<div class="gallery-images">
			<style>
				.splide__slide {
					/* opacity: 0.8; */
				}
				.splide__slide.is-active {
					opacity: 1;
					border: 3px solid gold !important;
					box-sizing: border-box;
				}

				.splide {
					/* width: 50%; */
					/* height: 10vh; */
				}
				
				.splide__slide {
					align-self: center;
					/* aspect-ratio: 512/448; */
					/* height: 100%; */
					/* width: 200px; */
				}

				.splide__arrow {
					opacity: 0;
				}
				.gallery-images:hover .splide__arrow {
					opacity: 1;
				}

			</style>
			{# <div class="gallery-frame gallery-prev">
				<img src="{{ prev_pic.img }}">
			</div> #}

			{# {% for pic in sotw -%}
				<img class="gallery-frame {{ 'gallery-frame--current' if pic == first_pic else '' }}" loading="lazy" src="{{ pic.img }}">
			{% endfor %} #}

			
			<div class="gallery-current">
				<div class="current-image"></div>
				<div class="credits"></div>
			</div>

			{# <div class="gallery-frame gallery-current">
			</div>

			<div class="gallery-frame gallery-next">
				<img src="{{ next_pic.img }}">
			</div> #}
		</div>
		<div class="splide">
			<div class="splide__track">
				<ul class="splide__list">
					{% for pic in sotw -%}
						<img fetchpriority="low" class="splide__slide" src="/img/thumbnails/{{ pic.img }}">
					{% endfor %}
				</ul>
			</div>
		</div>

		{# <div class="gallery-thumbnails">
			{% for pic in sotw -%}
				<img loading="lazy" class="gallery-preview" src="{{ pic.img }}">
			{% endfor %}
		</div> #}

		<script>
			function updateImage(index) {
				document.querySelector('.current-image').style.backgroundImage = `url(/img/${images[index].img})`;
				document.querySelector('.credits').innerHTML = `by <a target=_blank href="${images[index].url}">${images[index].author}</a>`;

				const next = (index + 1) % images.length;
				const nextUrl = `/img/${images[index].img}`;
				if (!document.head.querySelector(`link[href="${nextUrl}"]`)) {
					const el = document.createElement('link');
					el.href = nextUrl;
					el.rel = 'prefetch';
					el.as = 'image';
					document.head.append(el);
				}
			}

			const images = {{ sotw | json | safe }};
			const start = Math.floor(Math.random() * images.length);

			updateImage(start);

			var splide = new Splide( '.splide', {
				focus: 'center',
				height: '10vh',
				// fixedWidth  : 100,
				// fixedWidth: 200,
				autoWidth: true,
				// fixedHeight : 100,
				gap         : 10,
				rewind      : true,
				pagination  : false,
				isNavigation: true,
				breakpoints : {
					// 600: {
						// fixedWidth : 60,
					// 	fixedHeight: 44,
					// },
				},
				autoplay: true,
				start,
			});

			splide.mount();
			document.querySelector('.gallery-images').append(splide.Components.Arrows.arrows.prev);
			document.querySelector('.gallery-images').append(splide.Components.Arrows.arrows.next);

			splide.on('move', (newIndex, prevIndex) => {
				updateImage(newIndex);
			});

			document.querySelector('.gallery-images').addEventListener('click', (e) => {
				e.stopPropagation();
				const center = document.querySelector('.gallery-images').clientWidth / 2;
				if (center < e.offsetX) {
					splide.go('+1');
				} else {
					splide.go('-1');
				}
				console.log(e);
			});

			// splide.on('moved', (newIndex, prevIndex) => {
			// 	const el = document.querySelector('.splide__track').children.item(newIndex);
			// 	el.classList.remove('moving');
			// });

			// interface FlexItemInfo {
			// 	element: Element

			// 	x: number
			// 	y: number
			// 	width: number
			// 	height: number
			// 	}

			// 	const container = document.querySelector('.container')
			// 	for (const item of container.children) {
			// 	item.addEventListener('click', () => {
			// 		removeFlexItem(container, item)
			// 	})
			// 	}

			// 	function removeFlexItem(container: Element, item: Element): void {
			// 	const oldFlexItemsInfo = getFlexItemsInfo(container)
			// 	container.removeChild(item)
			// 	const newFlexItemsInfo = getFlexItemsInfo(container)

			// 	aminateFlexItems(oldFlexItemsInfo, newFlexItemsInfo)
			// 	}

			// 	function getFlexItemsInfo(container: Element): FlexItemInfo[] {
			// 	return Array.from(container.children).map((item) => {
			// 		const rect = item.getBoundingClientRect()
			// 		return {
			// 		element: item,
			// 		x: rect.left,
			// 		y: rect.top,
			// 		width: rect.right - rect.left,
			// 		height: rect.bottom - rect.top,
			// 		}
			// 	})
			// 	}

			// 	function aminateFlexItems(
			// 	oldFlexItemsInfo: FlexItemInfo[],
			// 	newFlexItemsInfo: FlexItemInfo[]
			// 	): void {
			// 	for (const newFlexItemInfo of newFlexItemsInfo) {
			// 		const oldFlexItemInfo = oldFlexItemsInfo.find(
			// 		(itemInfo) => itemInfo.element === newFlexItemInfo.element
			// 		)

			// 		const translateX = oldFlexItemInfo.x - newFlexItemInfo.x
			// 		const translateY = oldFlexItemInfo.y - newFlexItemInfo.y
			// 		const scaleX = oldFlexItemInfo.width / newFlexItemInfo.width
			// 		const scaleY = oldFlexItemInfo.height / newFlexItemInfo.height

			// 		newFlexItemInfo.element.animate(
			// 		[
			// 			{
			// 			transform: `translate(${translateX}px, ${translateY}px) scale(${scaleX}, ${scaleY})`,
			// 			},
			// 			{ transform: 'none' },
			// 		],
			// 		{
			// 			duration: 250,
			// 			easing: 'ease-out',
			// 		}
			// 		)
			// 	}
			// 	}

			// setInterval(() => {
			// 	let getIndex = i => i > 0 ? i % images.length : images.length - 1;
			// 	i = getIndex(i + 1);

			// 	const prevEl = document.querySelector('.gallery-prev');
			// 	const curEl = document.querySelector('.gallery-current');
			// 	const nextEl = document.querySelector('.gallery-next');

			// 	prevEl.querySelector('img').src = images[getIndex(i - 1)].img;
			// 	curEl.querySelector('img').src = images[i].img;
			// 	nextEl.querySelector('img').src = images[getIndex(i + 1)].img;
			// }, 300);
		</script>
	</div>

	<style>
		.title img {
			width: 60vw;
			max-width: 500px;
			margin: 15px;
		}
		.subtitle {
			font-size: 1.5em;
		}
		.section-title {
			font-size: 2em;
			padding: 20px 1rem;
		}
		.section {
			margin: 0 10vw;
			/* display: flex; */
			align-items: center;
			justify-content: center;
		}

		.cta {
			font-size: 3em;
			background-color: rgb(17, 68, 17);
			text-align: center;
			margin: 10px 0;
			padding: 10vh 0;
		}

		div {
			font-family: 8font;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="title center"><img src="/img/ZC_Logo.png"></div>
	<div class="subtitle center">The Classic Adventure Game Engine</div>

	<div class="section-title">
		Play one of hundreds of games ...
	</div>

	<div class="section">
		<p>
			Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:

			“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
			The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.
		</p>
	</div>


	<div class="section-title">
		... or make your own!
	</div>

	<div class="video-wrapper">
		<video loop autoplay muted>
			<source src="/assets/zquest.webm" type="video/webm">
			<source src="/assets/zquest.mp4" type="video/mp4">
		</video>

		<div class="credits"><a target="_blank" href="https://www.purezc.net/index.php?page=tilesets&id=106">Cambria Tileset - by Shane & Matthew</a></div>
	</div>

	<div class="section">
		<div class="features">
			<div class="feature">
				<div class="label">Open Source</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					Free and open source!
				</div>
			</div>

			<div class="feature">
				<div class="label">Cross Platform</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					Windows (32 and 64 bit), Mac, and Linux. Experimental support for Web browsers, including mobile browsers
				</div>
			</div>

			<div class="feature">
				<div class="label">Asset Database</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					100+ tilesets, 500+ scripts, 1000+ loose graphics, and 600+ music files available on the community site <a target="_blank" href="https://www.purezc.net/">PureZC.net</a>
				</div>
			</div>

			<div class="feature">
				<div class="label">Music</div>
				<div class="image feature--music" style="display: flex; width: 100%; justify-content: space-evenly;">
					<img src="/img/notes.webp" alt="" width="25%">
					<img src="/img/notes.webp" alt="" width="25%">
					<img src="/img/notes.webp" alt="" width="25%">
				</div>
				<div class="description">
					MIDI, MP3, OGG, and various chiptune formats: GBS, NSF, SPC, VGM, GYM, IT, XM, S3M, MOD
				</div>
			</div>

			<div class="feature">
				<div class="label">Scripting</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					ZScript is a custom scripting language that allows multiple ways to extend the engine. It's JIT-compiled to machine code, so it's fast! We also have a VS Code plugin!
				</div>
			</div>

			<div class="feature">
				<div class="label">Distribute Your Quest</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					Share your custom quest with the world by distributing a .qst file, a standalone application, or simply a URL
				</div>
			</div>

			<div class="feature">
				<div class="label">TODO</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					100+ tilesets, 500+ scripts, 1000+ loose graphics, and 600+ music files available on the community site <a target="_blank" href="https://www.purezc.net/">PureZC.net</a>
				</div>
			</div>

			<div class="feature">
				<div class="label">TODO</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					100+ tilesets, 500+ scripts, 1000+ loose graphics, and 600+ music files available on the community site <a target="_blank" href="https://www.purezc.net/">PureZC.net</a>
				</div>
			</div>

			<div class="feature">
				<div class="label">TODO</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					100+ tilesets, 500+ scripts, 1000+ loose graphics, and 600+ music files available on the community site <a target="_blank" href="https://www.purezc.net/">PureZC.net</a>
				</div>
			</div>

			<div class="feature">
				<div class="label">TODO</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					100+ tilesets, 500+ scripts, 1000+ loose graphics, and 600+ music files available on the community site <a target="_blank" href="https://www.purezc.net/">PureZC.net</a>
				</div>
			</div>
		</div>
	</div>

	<a href="/releases/">
		<div class="cta">
			Get ZC!
		</div>
	</a>
	
{% endblock %}
