---
sotw:
  - img: sotw-778-twilight-knight.png
    author: Twilight Knight
    url: https://www.purezc.net/forums/index.php?showtopic=78131
  - img: sotw-781-twilight-knight.png
    author: Twilight Knight
    url: https://www.purezc.net/forums/index.php?showtopic=78203
  - img: sotw-787-matthew.png
    author: Matthew
    url: https://www.purezc.net/forums/index.php?showtopic=78273
  - img: sotw-785-architect-abdiel.png
    author: Architect Abdiel
    url: https://www.purezc.net/forums/index.php?showtopic=78248
  - img: sotw-785-joel.png
    author: Joel
    url: https://www.purezc.net/forums/index.php?showtopic=78248
  - img: sotw-786-architect-abdiel.png
    author: Architect Abdiel
    url: https://www.purezc.net/forums/index.php?showtopic=78260
  - img: sotw-788-twilight-knight.png
    author: Twilight Knight
    url: https://www.purezc.net/forums/index.php?showtopic=78293
  - img: sotw-789-joel.png
    author: Joel
    url: https://www.purezc.net/forums/index.php?showtopic=78310
  - img: sotw-789-moosh.gif
    author: Moosh
    url: https://www.purezc.net/forums/index.php?showtopic=78310
  - img: sotw-789-russ.png
    author: Russ
    url: https://www.purezc.net/forums/index.php?showtopic=78310
  - img: sotw-791-joel.png
    author: Joel
    url: https://www.purezc.net/forums/index.php?showtopic=78332
  - img: sotw-791-shane.png
    author: Shane
    url: https://www.purezc.net/forums/index.php?showtopic=78332
  - img: sotw-792-anthus.gif
    author: Anthus
    url: https://www.purezc.net/forums/index.php?showtopic=78338
  - img: sotw-792-architect-abdiel.png
    author: Architect Abdiel
    url: https://www.purezc.net/forums/index.php?showtopic=78338
  - img: sotw-793-architect-abdiel.png
    author: Architect Abdiel
    url: https://www.purezc.net/forums/index.php?showtopic=78373
  - img: sotw-793-joel.png
    author: Joel
    url: https://www.purezc.net/forums/index.php?showtopic=78373
  - img: sotw-794-anthus.gif
    author: Anthus
    url: https://www.purezc.net/forums/index.php?showtopic=78385
  - img: sotw-795-anthus.gif
    author: Anthus
    url: https://www.purezc.net/forums/index.php?showtopic=78392
  - img: sotw-796-anthus.gif
    author: Anthus
    url: https://www.purezc.net/forums/index.php?showtopic=78404
  - img: sotw-796-architect-abdiel.png
    author: Architect Abdiel
    url: https://www.purezc.net/forums/index.php?showtopic=78404

quests:
    - name: "Go Gollab: The Conflictions of Morality"
      author: "Jenny, Shane, Eddy, Avaro, Moosh, Joelmacool, coolgamer012345, Deedee, Matthew, Ambient Silence"
      img: https://data.zquestclassic.com/quests/purezc/731/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=731
    - name: "Rite of the Storm"
      author: "Shane, Avaro"
      img: https://data.zquestclassic.com/quests/purezc/623/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=623
    - name: "Yuurand: Tales of the Labyrinth"
      author: "Russ, Aevin"
      img: https://data.zquestclassic.com/quests/purezc/667/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=667
    - name: "Link and Zelda: Panoply of Calatia"
      author: "Mitsukara"
      img: https://data.zquestclassic.com/quests/purezc/618/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=618
    - name: "Legend of Link: The New Legacy"
      author: "Eddy"
      img: https://data.zquestclassic.com/quests/purezc/751/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=751
    - name: "Link's Quest for the Hookshot 2: Quest"
      author: "Moosh"
      img: https://data.zquestclassic.com/quests/purezc/373/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=373
    - name: "In the Lost Kingdom of the Banana Blood God"
      author: "Russ, Moosh"
      img: https://data.zquestclassic.com/quests/purezc/568/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=568
    - name: "Mike's Fun House"
      author: "Yloh"
      img: https://data.zquestclassic.com/quests/purezc/696/image0.jpg
      url: https://www.purezc.net/index.php?page=quests&id=696
    - name: "Nayru's Odyssey: Definitive Edition"
      author: "Teamudf, Rainst0rm4759, Arkia"
      img: https://data.zquestclassic.com/quests/purezc/749/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=749
    - name: "Eiyuu"
      author: "Teamudf"
      img: https://data.zquestclassic.com/quests/purezc/486/image0.jpg
      url: https://www.purezc.net/index.php?page=quests&id=486
    - name: "The Depths of Malice"
      author: "Russ"
      img: https://data.zquestclassic.com/quests/purezc/707/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=707
    - name: "One Screen Gollab"
      author: "Jenny, Shane, Eddy, Joelmacool, coolgamer012345, Deedee, Matthew, Professor Bedwetter, Ambient Silence"
      img: https://data.zquestclassic.com/quests/purezc/795/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=795
    - name: "The Hero of Dreams"
      author: "Shoelace"
      img: https://data.zquestclassic.com/quests/purezc/139/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=139
    - name: "The Forbidden City"
      author: "Jamian"
      img: https://data.zquestclassic.com/quests/purezc/537/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=537
    - name: "Randomizer BS Zelda Version"
      author: "HeroOfFire"
      img: https://data.zquestclassic.com/quests/purezc/513/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=513
    - name: "Isle of Rebirth"
      author: "Evan20000"
      img: https://data.zquestclassic.com/quests/purezc/461/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=461
    - name: "Stellar Seas"
      author: "Russ, Moosh"
      img: https://data.zquestclassic.com/quests/purezc/774/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=774
    - name: "The Slipstream"
      author: "RedTribeLink"
      img: https://data.zquestclassic.com/quests/purezc/699/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=699
    - name: "Second Chance"
      author: "Joelmacool"
      img: https://data.zquestclassic.com/quests/purezc/674/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=674
    - name: "I Will Attend The Funeral"
      author: "Joelmacool"
      img: https://data.zquestclassic.com/quests/purezc/718/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=718
    - name: "Destiny of the Oracles"
      author: "ywkls"
      img: https://data.zquestclassic.com/quests/purezc/735/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=735
    - name: "Dragon Dream"
      author: "Jamian"
      img: https://data.zquestclassic.com/quests/purezc/748/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=748
    - name: "A Boy and His Cursor"
      author: "Avaro"
      img: https://data.zquestclassic.com/quests/purezc/416/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=416
    - name: "Legend of Zelda: Oracle of Awesomeness"
      author: "MonopolyRubix"
      img: https://data.zquestclassic.com/quests/purezc/490/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=490
    - name: "I Hate Mayonnaise 2: Depressive Donuts"
      author: "Rambly"
      img: https://data.zquestclassic.com/quests/purezc/319/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=319
    - name: "Mirage Island"
      author: "HeroOfFire"
      img: https://data.zquestclassic.com/quests/purezc/651/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=651
    - name: "Cambria The Lost Worlds"
      author: "TheRock"
      img: https://data.zquestclassic.com/quests/purezc/785/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=785
    - name: "Quest 744: Legacy Edition"
      author: "Ben"
      img: https://data.zquestclassic.com/quests/purezc/449/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=449
    - name: "Origin"
      author: "DarkFlameWolf"
      img: https://data.zquestclassic.com/quests/purezc/203/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=203
    - name: "The Islands of Zelda"
      author: "Lightwulf"
      img: https://data.zquestclassic.com/quests/purezc/505/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=505
    - name: "Forbidden Ascent"
      author: "Russ, Moosh"
      img: https://data.zquestclassic.com/quests/purezc/582/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=582
    - name: "ZScript Havoc"
      author: "Avaro"
      img: https://data.zquestclassic.com/quests/purezc/659/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=659
    - name: "Lost Isle"
      author: "DarkFlameWolf, Peteo"
      img: https://data.zquestclassic.com/quests/purezc/204/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=204
    - name: "Stranded"
      author: "Jamian"
      img: https://data.zquestclassic.com/quests/purezc/358/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=358
    - name: "The Legend of Zelda Tower of Courage"
      author: "Flying Fish, boltfox20"
      img: https://data.zquestclassic.com/quests/purezc/508/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=508
    - name: "Randomizer Alpha"
      author: "HeroOfFire"
      img: https://data.zquestclassic.com/quests/purezc/573/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=573
    - name: "Randomizer Omega"
      author: "HeroOfFire"
      img: https://data.zquestclassic.com/quests/purezc/694/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=694
    - name: "Dueling Dragons"
      author: "HeroOfFire"
      img: https://data.zquestclassic.com/quests/purezc/776/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=776
    - name: "The Hidden Duality: Director's Cut"
      author: "DarkFlameWolf"
      img: https://data.zquestclassic.com/quests/purezc/52/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=52
    - name: "Antiquity"
      author: "Saffith"
      img: https://data.zquestclassic.com/quests/purezc/385/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=385
    - name: "Link stuck in Castlevania"
      author: "Alucard648"
      img: https://data.zquestclassic.com/quests/purezc/497/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=497
    - name: "Legend of Lana DX"
      author: "Mani Kanina"
      img: https://data.zquestclassic.com/quests/purezc/598/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=598
    - name: "Randomizer Returns"
      author: "HeroOfFire"
      img: https://data.zquestclassic.com/quests/purezc/611/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=611
    - name: "Quest of Light"
      author: "AtrusW0nder"
      img: https://data.zquestclassic.com/quests/purezc/459/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=459
    - name: "Link To Tortuga"
      author: "Freedom"
      img: https://data.zquestclassic.com/quests/purezc/158/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=158
    - name: "Block Smasher"
      author: "Avaro"
      img: https://data.zquestclassic.com/quests/purezc/422/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=422
    - name: "Fedora Toss"
      author: "Moosh"
      img: https://data.zquestclassic.com/quests/purezc/510/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=510
    - name: "Canaria, the Upwind March"
      author: "Joelmacool"
      img: https://data.zquestclassic.com/quests/purezc/781/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=781
    - name: "Golvellius la Quete du Second"
      author: "wonderboy.bobi"
      img: https://data.zquestclassic.com/quests/purezc/380/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=380
    - name: "Summoning War"
      author: "Shosci"
      img: https://data.zquestclassic.com/quests/purezc/570/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=570
    - name: "Wizzrobe's Big Day Out"
      author: "AaronJer"
      img: https://data.zquestclassic.com/quests/purezc/698/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=698
    - name: "Promised Lands"
      author: "Jamian"
      img: https://data.zquestclassic.com/quests/purezc/446/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=446
    - name: "The Wrath and Longing of Nemel"
      author: "Vargen"
      img: https://data.zquestclassic.com/quests/purezc/100/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=100
    - name: "Link's Birthday Deluxe"
      author: "Mr. Z"
      img: https://data.zquestclassic.com/quests/purezc/105/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=105
    - name: "Zelda's Butt"
      author: "Spram"
      img: https://data.zquestclassic.com/quests/purezc/336/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=336
    - name: "Demo Quest EX"
      author: "Nightmare, Phantom Menace"
      img: https://data.zquestclassic.com/quests/purezc/104/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=104
    - name: "Randomizer Modern"
      author: "HeroOfFire"
      img: https://data.zquestclassic.com/quests/purezc/389/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=389
    - name: "Pessimistic Pizza"
      author: "Exate"
      img: https://data.zquestclassic.com/quests/purezc/402/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=402
    - name: "To The Top"
      author: "TheOnlyOne"
      img: https://data.zquestclassic.com/quests/purezc/524/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=524
    - name: "Link's Birthday"
      author: "Mr. Z"
      img: https://data.zquestclassic.com/quests/purezc/27/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=27
    - name: "Link to the Heavens"
      author: "Pineconn"
      img: https://data.zquestclassic.com/quests/purezc/217/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=217
    - name: "Rise of Ganon"
      author: "GamingNomad"
      img: https://data.zquestclassic.com/quests/purezc/269/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=269
    - name: "Path of Shadows"
      author: "MoscowModder"
      img: https://data.zquestclassic.com/quests/purezc/333/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=333
    - name: "I Am Bored"
      author: "Theryan"
      img: https://data.zquestclassic.com/quests/purezc/345/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=345
    - name: "Hyrule's Resurrection"
      author: "Jamian"
      img: https://data.zquestclassic.com/quests/purezc/361/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=361
    - name: "The Darkness Within"
      author: "Russ"
      img: https://data.zquestclassic.com/quests/purezc/374/image0.gif
      url: https://www.purezc.net/index.php?page=quests&id=374
    - name: "A Short and Simple Platformer"
      author: "Avaro"
      img: https://data.zquestclassic.com/quests/purezc/477/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=477
    - name: "The Legend of Zelda: Flow of Time (Remastered)"
      author: "Obderhode"
      img: https://data.zquestclassic.com/quests/purezc/493/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=493
    - name: "What You Deserve: A 36"
      author: "Lüt"
      img: https://data.zquestclassic.com/quests/purezc/633/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=633
    - name: "The Glory Squad"
      author: "Tabletpillow"
      img: https://data.zquestclassic.com/quests/purezc/649/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=649
    - name: "DayDay Nine"
      author: "Joelmacool"
      img: https://data.zquestclassic.com/quests/purezc/663/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=663
    - name: "The Adventure of Kain, the return of Ganon."
      author: "dr_henke"
      img: https://data.zquestclassic.com/quests/purezc/679/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=679
    - name: "Darkside 66"
      author: "Titanium Justice"
      img: https://data.zquestclassic.com/quests/purezc/703/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=703
    - name: "New Quest"
      author: "Geoffrey"
      img: https://data.zquestclassic.com/quests/purezc/743/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=743
    - name: "Armageddon Quest Forever Ver2.53"
      author: "OUCH!"
      img: https://data.zquestclassic.com/quests/purezc/744/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=744
    - name: "Armageddon Quest Ver2.53"
      author: "OUCH!"
      img: https://data.zquestclassic.com/quests/purezc/745/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=745
    - name: "Walking Forever"
      author: "TheRock"
      img: https://data.zquestclassic.com/quests/purezc/752/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=752
    - name: "Journey into the Novel Ruins"
      author: "Kifstopher"
      img: https://data.zquestclassic.com/quests/purezc/803/image0.png
      url: https://www.purezc.net/index.php?page=quests&id=803



---

{% extends "layouts/base.njk" %}

{% block header %}
	<style>
		main {
			padding: unset;
		}

		.credits {
			padding: 10px;
			text-align: center;
		}

		.video-wrapper {
			display: grid;
			place-items: center;
			background-color: black;
		}
		.video-wrapper video {
			max-width: calc(max(50vw, 500px));
			aspect-ratio: 3384/2240;
			width: 100%;
		}

		.features {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			text-align: center;
		}
		.feature {
			display: grid;
			place-items: center;
			padding: 10px;
			margin: 10px;
		}
		.feature .label {
			font-size: 2em;
		}
		.feature .image {
			width: 75px;
			/* height: 50%; */
		}

		.feature--music img {
			/* width: 75px; */
			/* height: 50%; */
			margin-top: 25px;
			margin-bottom: 15px;
		}
		.feature--music img:nth-child(2) {
			position: relative;
			top: -15px;
		}
		.feature--music img:nth-child(3) {
			position: relative;
			top: 10px;
		}
	</style>

	<div class="gallery">
		<style>
			.gallery {
				position: relative;
				z-index: 1;
				background-color: black;
				overflow: hidden;
				width: 100vw;
			}
			.gallery-images {
				display: flex;
				justify-content: space-around;
				cursor: pointer;
			}
            .gallery-images .current-name {
                text-align: center;
                font-size: 3em;
            }
			.gallery-images .current-image {
				height: 70vh;
				width: 100vw;
				background-repeat: no-repeat;
				background-size: contain;
				transition: all 0.5s;
				background-position: center;
				border: none;
				image-rendering: pixelated;
			}
			.splide__slide {
				align-self: center;
			}
			.splide__slide.is-active {
				border: 3px solid gold !important;
				box-sizing: border-box;
			}
			.splide__arrow {
				opacity: 0;
				pointer-events: none;
			}
			.gallery-images:hover .splide__arrow {
				opacity: 1;
			}
		</style>

		<div class="gallery-images">
			<div class="gallery-current">
				<div class="current-image"></div>
				<div class="credits"></div>
			</div>
		</div>

		<div class="splide">
			<div class="splide__track">
				<ul class="splide__list">
					{% for pic in sotw -%}
						<img fetchpriority="low" class="splide__slide" src="/img/thumbnails/{{ pic.img }}">
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

    <script>
        function initGallery(rootEl, images, start, splideArgs) {
            function updateImage(index) {
                if (rootEl.querySelector('.current-name')) {
                    rootEl.querySelector('.current-name').textContent = images[index].name;
                }
                if (rootEl.querySelector('.gallery-current a')) {
                    rootEl.querySelector('.gallery-current a').href = images[index].url;
                }
                rootEl.querySelector('.current-image').style.backgroundImage = `url(${images[index].img})`;

                if (rootEl.className == 'gallery') {
                    rootEl.querySelector('.credits').innerHTML = `by <a target=_blank href="${images[index].url}">${images[index].author}</a>`;
                } else {
                    rootEl.querySelector('.credits').innerHTML = `by ${images[index].author}`;
                }

                const next = (index + 1) % images.length;
                const nextUrl = images[index].img;
                if (!document.head.querySelector(`link[href="${nextUrl}"]`)) {
                    const el = document.createElement('link');
                    el.href = nextUrl;
                    el.rel = 'prefetch';
                    el.as = 'image';
                    document.head.append(el);
                }
            }

            updateImage(start);

            var splide = new Splide(rootEl.querySelector('.splide'), {
                focus: 'center',
                height: '10vh',
                // fixedWidth  : 100,
                // fixedWidth: 200,
                autoWidth: true,
                // fixedHeight : 100,
                gap         : 10,
                rewind      : true,
                pagination  : false,
                isNavigation: true,
                breakpoints : {
                    // 600: {
                        // fixedWidth : 60,
                    // 	fixedHeight: 44,
                    // },
                },
                autoplay: true,
                start,
                ...splideArgs,
            });

            splide.mount();
            rootEl.querySelector('.gallery-images').append(splide.Components.Arrows.arrows.prev);
            rootEl.querySelector('.gallery-images').append(splide.Components.Arrows.arrows.next);

            splide.on('move', (newIndex, prevIndex) => {
                updateImage(newIndex);
            });

            return splide;
        }

        {
            const images = {{ sotw | json | safe }};
            for (const image of images) {
                image.img = `/img/${image.img}`;
            }
            const start = Math.floor(Math.random() * images.length);
            const rootEl = document.querySelector('.gallery');
            const splide = initGallery(rootEl, images, start);

            rootEl.querySelector('.gallery-images').addEventListener('click', (e) => {
                e.stopPropagation();
                const center = rootEl.querySelector('.gallery-images').clientWidth / 2;
                if (center < e.offsetX) {
                    splide.go('+1');
                } else {
                    splide.go('-1');
                }
            });
        }
    </script>

	<style>
		.title img {
			width: 60vw;
			max-width: 500px;
			margin: 15px;
		}
		.subtitle {
			font-size: 1.5em;
		}
		.section-title {
			font-size: 2em;
			padding: 20px 1rem;
            margin: 50px 0;
            text-align: center;
		}
		.section {
			margin: 0 10vw;
			/* display: flex; */
			align-items: center;
			justify-content: center;
		}

		.cta {
			font-size: 3em;
			background-color: rgb(17, 68, 17);
			text-align: center;
			margin: 10px 0;
			padding: 10vh 0;
		}

		div {
			font-family: 8font;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="section-title">
		Choose from hundreds of games ...
	</div>

	<div class="section quest-showcase">
        <style>
            .section.quest-showcase {
                background-color: black;
                margin: 0;
            }

            .quest-showcase .splide img {
                max-height: 20vh;
            }

            .quest-showcase .gallery-images .current-image {
				height: 50vh;
				width: 100vw;
            }
        </style>

        <div class="quest-showcase">
            <div class="gallery-images">
                <div class="gallery-current">
                    <a target="_blank">
                        <div class="current-name"></div>
                        <div class="current-image"></div>
                        <div class="credits"></div>
                    </a>
                </div>
            </div>

            <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for quest in quests -%}
                            <div class="splide__slide">
                                <img fetchpriority="low" src="{{ quest.img }}">
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <script>
            {
                const images = {{ quests | json | safe }};
                const start = Math.floor(Math.random() * images.length);
                initGallery(document.querySelector('.quest-showcase'), images, start, {height: '20vh'});
            }
		</script>
	</div>

	<div class="section-title">
		... or make your own in the ZQuest Classic editor!
	</div>

	<div class="video-wrapper">
		<video loop autoplay muted>
			<source src="/assets/zquest.webm" type="video/webm">
			<source src="/assets/zquest.mp4" type="video/mp4">
		</video>

		<div class="credits"><a target="_blank" href="https://www.purezc.net/index.php?page=tilesets&id=106">Cambria Tileset - by Shane & Matthew</a></div>
	</div>

	<div class="section">
		<div class="features">
			<div class="feature">
				<div class="label">Open Source</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					Free and open source!
				</div>
			</div>

			<div class="feature">
				<div class="label">Cross Platform</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					Windows (Win7+), Mac (12+), and Linux. Experimental support for Web browsers, including mobile browsers
				</div>
			</div>

			<div class="feature">
				<div class="label">Asset Database</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					100+ tilesets, 500+ scripts, 1000+ loose graphics, and 600+ music files available on the community site <a target="_blank" href="https://www.purezc.net/">PureZC.net</a>
				</div>
			</div>

			<div class="feature">
				<div class="label">Music</div>
				<div class="image feature--music" style="display: flex; width: 100%; justify-content: space-evenly;">
					<img src="/img/notes.webp" alt="" width="25%">
					<img src="/img/notes.webp" alt="" width="25%">
					<img src="/img/notes.webp" alt="" width="25%">
				</div>
				<div class="description">
					MIDI, MP3, OGG, and various chiptune formats: GBS, NSF, SPC, VGM, GYM, IT, XM, S3M, MOD
				</div>
			</div>

			<div class="feature">
				<div class="label">Scripting</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					ZScript is a custom scripting language that allows multiple ways to extend the engine. It's JIT-compiled to machine code, so it's fast! We also have a VS Code plugin!

          Explore ZScript in <a target="_blank" href="https://web.zquestclassic.com/zscript">the online playground</a>.
				</div>
			</div>

			<div class="feature">
				<div class="label">Distribute Your Quest</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					Share your custom quest with the world by distributing a .qst file, a standalone application, or simply a URL
				</div>
			</div>

			{# <div class="feature">
				<div class="label">TODO</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					100+ tilesets, 500+ scripts, 1000+ loose graphics, and 600+ music files available on the community site <a target="_blank" href="https://www.purezc.net/">PureZC.net</a>
				</div>
			</div>

			<div class="feature">
				<div class="label">TODO</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					100+ tilesets, 500+ scripts, 1000+ loose graphics, and 600+ music files available on the community site <a target="_blank" href="https://www.purezc.net/">PureZC.net</a>
				</div>
			</div>

			<div class="feature">
				<div class="label">TODO</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					100+ tilesets, 500+ scripts, 1000+ loose graphics, and 600+ music files available on the community site <a target="_blank" href="https://www.purezc.net/">PureZC.net</a>
				</div>
			</div>

			<div class="feature">
				<div class="label">TODO</div>
				<img class="image" src="/img/chest.webp" alt="">
				<div class="description">
					100+ tilesets, 500+ scripts, 1000+ loose graphics, and 600+ music files available on the community site <a target="_blank" href="https://www.purezc.net/">PureZC.net</a>
				</div>
			</div> #}
		</div>
	</div>

	<a href="/releases/">
        <div class="cta">
            <div class="title center"><img src="/img/ZC_Logo.png"></div>
            Get ZC!
		</div>
	</a>
{% endblock %}
